.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .grid {
    display: grid;
    gap: 2rem;
  }
  
  .card {
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: #2d2d2d;
    color: white;
  }
  
  .title {
    font-size: 1.5rem;
    font-family: 'Handlee', cursive;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  @media (min-width: 768px) {
    .grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  .containerh1 {
    background-color: #374151;
    color: #fff;
    min-height: 10vh; /* Ocupa todo el alto de la ventana */
    padding: 1rem;
    max-width: 1200px; /* Contenedor más ancho */
    margin: 0 auto;    /* Centramos el contenedor */
    text-align: center;
    border-radius: 1em;
  }

  @media (max-width: 1024px) {
    .containerh1 {
      min-height: 5vh; 
      padding: 1rem;
      max-width: 1200px; /* Contenedor más ancho */
      margin: 0 auto;    /* Centramos el contenedor */
      text-align: center;
      border-radius: 0.8em;
    }
    h1{
      font-size: 1em;
    }
  }
  